{
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react-router-dom$",
    "^axios$",
    "^@tanstack/(.*)$",
    "^recoil$",
    "^react-hook-form$",
    "^@hookform/(.*)$",
    "^zod$",
    "^react-daum-postcode$",
    "^@mantine/core$",
    "^@mantine/hooks$",
    "^@mantine/carousel$",
    "^@mantine/notifications$",
    "^@mantine/(.*)$",
    "^@emotion/(.*)$",
    "^@emotion/(.*)$",
    "^embla-carousel-autoplay$",
    "^react-icons$",
    "^(.*)/pages",
    "^(.*)/components",
    "^(.*)/api",
    "^(.*)/recoil",
    "^(.*)/hooks",
    "^(.*)/utils",
    "^(.*)/schema",
    "^(.*)/constants",
    "^(.*)/styles",
    "^@(.*)",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
